@font-face {
    font-family: 'DINPro';
    src: url('../fonts/FontFont_DINPro-Light.eot');
    src: url('../fonts/FontFont_DINPro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
        url('../fonts/FontFont_DINPro-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/FontFont_DINPro-Light.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/FontFont_DINPro-Light.svg') format('svg');
    font-weight: bold, 700;

}

@font-face {
    font-family: 'DINPro';
    src: url('../fonts/FontFont_DINPro-Bold.eot');
    src: url('../fonts/FontFont_DINPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
        url('../fonts/FontFont_DINPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/FontFont_DINPro-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
        url('../fonts/FontFont_DINPro-Bold.svg') format('svg');
    font-weight: bold, 700;

}


html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'DINPro', 'Open Sans', sans-serif;
}

.wrap {
    background: #0C0C1B;

}
body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    cursor:pointer;
    font-family: 'DINPro', 'Open Sans', sans-serif;
}
button,.btn{
    cursor:pointer;
}
body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body a:focus,
a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #323648;
}

p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #707579;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

a:focus,
a:hover {
    text-decoration: none;
    outline: none
}

/* //Reset Code */


/* header */
/* CSS Document */
header {
    padding: 1rem 0;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */
nav { 
    margin:0;
    padding: 0;
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content:"";
    display:table;
    clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
    float: right;
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
    margin: 17px;
    display:inline-block;
    float: left;
}

/* Styling the links */

nav a {
    font-weight: 400;	
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    position: relative;
    padding: 0.2rem 0.7rem;
}


nav ul li ul li:hover { background: #f8f9fa; }

/* Background color change on Hover */
nav a:hover { 
    color: #fff;
    background: transparent;
}
.menu li.active  a{ 
    color: #fff;
    background: transparent;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
    display: none;
    position: absolute; 
    /* has to be the same number as the "line-height" of "nav a" */
    top: 25px; 
    background: #fff;
    padding: 10px;
    z-index: 1;
}
ul.inner-dropdown a:hover {
    color: #333;
}
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
    display:inherit;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width:160px;
    float:none;
    display:list-item;
    position: relative;
}
nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
    font-size: 15px;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
    position: relative;
    top:-60px;
    /* has to be the same number as the "width" of "nav ul ul li" */ 
    left:170px; 
}


/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */



@media (min-width: 1600px){ 
    .container {
        max-width: 1550px;
    }
}

@media all and (max-width : 991px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    .header-agile{
        float: left;
    }
    nav ul {
        width: 100%;
    }
    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 4px 18px;
        font-size: 20px;
        text-decoration:none;
        border:none;
        float: right;
        background-color: #fff;
        color: #3369e7;
    }
    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        width: 25%;
        padding: 5px;
        font-weight: normal;
        font-size: 15px;
        letter-spacing: 1px;
        background: none;
        color: #333;
    }

    .toggle:hover {
        color:#333;
        background-color: #fff;
    }
    .social {
        position: absolute;
        top: 3%;
    }
    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + ul {
        display: block;
        background: #fff;
        padding: 15px 0;
        text-align: center;
        margin-top: 5px;
    }

    /* Change menu item's width to 100% */
    .black-mobile nav ul li {
        display: block;
        width: 50%;
        padding: 5px 0;
        margin: 17px 0;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a{
        padding:14px 20px;	
        color:#FFF;
        font-size:17px; 
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position:static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */ 

    }
    nav a {

    }
    nav a:hover {
        color: #333;
    }
    .menu li.active a {
        color: #333;
    }
    nav ul ul li a {
        display: inline-block;
        font-size: 15px;
    }
    ul.inner-dropdown {
        padding-bottom: 0 !important;
        padding-top: 8px !important;
    }
}

@media all and (max-width : 330px) {

    nav ul li {
        display:block;
        width: 94%;
    }

}

.logo h1 a,.logo h1 a:hover {
    color: #fff;
    text-transform: capitalize;
    font-style: inherit;
    font-weight: 100;
}


.social ul li {
    margin: 0px;
    display: inline-block;
}
.social ul li a {
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
    position: relative;
    padding: 0 0.1rem;
}
/*-- // header --*/


/*-- main --*/
.main {
    background-color: #0c0c1b;
    color: #636363;
    border-radius: 0.25em;
}
.advantage_left h4 {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.advantage_left h3 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}
a.banner-button {
    background: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border: 2px solid #fff;
    padding: 10px 25px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
a.banner-button1 {
    background:#00BCD4;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 23px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
a.banner-button2 {
    background:#3369e7;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 23px;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.banner-bottom,   .inner-sec-layer, .contact, .skills, .edu-exp, .projects {
    padding: 4em 5em;
}
.banner-bottom  {
    padding: 4em 5em 1em;
}
.banner {
    height: 703px;
    /*background: url(../images/slide.png) no-repeat center;
    background-size: contain;*/
    background: linear-gradient(180deg, #0D030B 58.33%, #0D0C1A 100%);;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.main_headset{
    position: absolute;
    top: 0px;
    left: 140px;
    height: 800px;
}

.banner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity:0;
    background: #000;
}
.banner-info {
    padding: 18em 6em;
}
h2.heading-banner {
    color: #fff;
    font-size: 32px;
    font-weight: 100;
}
h2.heading-banner span {
    display: block;
    font-weight: 600;
}
.banner-info p {
    color: #ccc;
    max-width: 550px;
}

h2.heading,h3.heading  {
    font-size: 36px;
    color: #000;
    font-weight: 100;
}

h2.heading span,h3.heading span {
    width: 50px;
    height: 2px;
    background: #333;
    display: inline-block;
}

/*-- services --*/
.jbl-item img{
    max-width: 200px;
}
.services{
    background: #f6f6f6;
}
.service-in .card {
    padding: 1.5em .5em;
    border: none;
    transition: none;
    background: #fff;
    box-shadow: 5px 5px 10px 0 rgba(76, 110, 245, .1);
}
.service-in .card h5.card-title {
    font-size: 20px;
    letter-spacing: 1px;
}
.service-in .card span.fa {
    font-size: 2em;
    color: #3369e7;
}
.service-in p.card-text {
    font-size: 15px;
}

/*-- //services --*/


/*-- skills --*/

.skills p.bg {
    background: #fff;
    text-align: right;
    height: 8px;
    width: 100%;
    margin-left: 0 !important;
    padding-right: 1em;
    font-size: 13px;
}

.skills p.clr-ninghty {
    width: 90%;
    background: #ff4f81;
    height: 8px;
}
.skills p.clr-seventy {
    width: 70%;
    background: #3369e7;
    height: 8px;
}
.skills p.clr-eighty-five {
    width: 85%;
    background: #0dd3ff;
    height: 8px;
}
.skills-left h5 {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.number-w3three-info h5 {
    font-size: 40px;
    font-weight: 600;
}
.number-w3three-info h6 {
    letter-spacing: 1px;
}
.number-w3three-info.icon1 span.fa {
    font-size: 35px;
    color: #ff4f81;
}
.number-w3three-info.icon2 span.fa {
    font-size: 35px;
    color: #3369e7;
}
.number-w3three-info.icon3 span.fa {
    font-size: 35px;
    color: #0dd3ff;
}
/*-- //skills --*/

/* tabs */
.inner-w3pvt-wrap {
    padding-top: 2em;
}

.inner-w3pvt-wrap h4 {
    font-size: 20px;
    color: #333;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.inner-w3pvt-wrap h6 {
    font-size: 18px;
    letter-spacing: 1px;
    color: #555;
    font-style: italic;
    background: #f6f6f6;
    font-family: initial;
    padding-left: 10px;
    margin: 5px 0 20px 15px;
}

.inner-w3pvt-wrap p {
    font-size: 15px;
}

.tab-main section {
    display: none;
}

.tab-main input.w3pvt-sm {
    display: none;
}

.tab-main label {
    display: inline-block;
    padding: 12px 25px;
    color: #fff;
    background: #333;
    font-size: 16px;
    letter-spacing: 1px;
}

.tab-main span {
    margin-right: 0.5em;
}

.tab-main label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
    opacity: 0;
    display: none;
}

.tab-main label[for*='1']:before {
    content: '\f1cb';
}

.tab-main label[for*='2']:before {
    content: '\f17d';
}

.tab-main label[for*='3']:before {
    content: '\f16c';
}

.tab-main label[for*='4']:before {
    content: '\f171';
}

.tab-main label:hover {
    cursor: pointer;
}

.tab-main input:checked+label {
    background: #3369e7;
    color: #fff;
}

.tab-main #tab1:checked~#content1,
.tab-main #tab2:checked~#content2,
.tab-main #tab3:checked~#content3,
.tab-main #tab4:checked~#content4 {
    display: block;
}

@media screen and (max-width: 800px) {
    .tab-main label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    .tab-main label {
        padding: 15px;
    }
}

/* //tabs */

/*-- contact --*/

.contact h3.heading  {
    color: #fff;
}

.contact h3.heading span {
    background: #fff;
}
.contact-form .form-control input {
    display: block;
}
form.contact-form {
    margin-top: 2em;
}
.contact-form .form-control,
.contact-form textarea {
    padding: 1.1em 1.1em;
    color: #fff;
    border: none;
    border-radius: 0px;
    outline: none;
    font-size: 15px;
    letter-spacing: 1px;
    background: #1b4ab6;
    font-weight: 200;
}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #eee;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #eee;
}
.form-control::-ms-input-placeholder { /* IE 10+ */
    color: #eee;
}
.form-control::-moz-placeholder { /* Firefox 18- */
    color: #eee;
}
.contact-form textarea {
    min-height: 10.3em;
    -webkit-appearance: none;
    width: 100%;
}

.contact-form p {
    letter-spacing: 2px;
    color: #fff;
    font-size: 15px;
}

.contact-form button.btn {
    background: #fff;
    padding: 0.8em 3em;
    font-size: 15px;
    margin-top: 5px;
    letter-spacing: 2px;
    color: #3369e7;
    border-radius: 0px;
    text-transform: capitalize;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border: none;
}

/*-- //contact --*/

/*-- projects --*/
.projects{
    padding: 6em 5em 2em;
}
.gal-img {
    margin-bottom: 1em;
    padding-right: 0px;
}
/*-- //projects --*/

/*-- footer --*/

.footer-title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
.contact-info p a, .contact-info p, ul.links li a {
    color: #ffffff;
    font-size: 14px;
}

.contact-info p span {
    display: block;
}

.footer-style-w3lsp a {
    color: #ababab;
}

.contact-info h4 {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}

/* quick links */
ul.links li a {
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 16px;
    display: inline-block;
}

ul.links li a:hover,
.footer-style-w3lsp a:hover {
    color: #fff;
}

/*-- //quick links --*/

/* copyright */
.copy-right {
    font-size: 15px;
}

.copy-right a {
    color: #fff;
}

.copy-right-top {
    border-color: rgba(255, 255, 255, 0.3) !important;
}

/* copyright */
.social-info p {
    color: #bbbbbb;
    line-height: 28px;
    font-size: 15px;
    letter-spacing: .7px;
}
.social-info a {
    color: #cc2105;
}
ul.social-icons li {
    list-style: none;
    display: inline-block;
}

ul.social-icons li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 34px;
    background: transparent;
    border: 2px solid #fff;
    text-align: center;
}

ul.social-icons li a:hover {
    color: #36b1af;
}

/* //footer */

/*-- move top --*/

.move-top {
    position: relative;
}

a.move-top {
    text-align: center;
    position: absolute;
    right: 1%;
    bottom: 0%;
}

a.move-top span{
    color: #fff;
    width: 36px;
    height: 36px;
    border: transparent;
    line-height: 2em;
    background: #1b4ab6;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
}

/*-- //move top --*/


/*-- Responsive Design --*/

.wired{
    position: absolute;
    right: 0px;
    bottom: 100px;
}
.wired img{
    width: 245px;
}
.circle_asset{
    position: absolute;
    left: 0px;
    bottom: -40px;
}
.banner nav{  
    position: absolute;
    top: 100px;
    right: 200px;
    z-index: 99;
}

.banner nav svg{  
    margin: -28px 0;
}
.banner-bottom p{
    max-width: 680px;
    color:white;
    margin: 0 auto;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 128.18%;  
    text-align: center;
}

.banner-bottom p.gradient{
    max-width: 680px;
    color:white;
    margin: 30px auto 0 auto;
    font-family: 'DINPro';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 128.18%;
    text-align: center;
    background: -webkit-linear-gradient(#fff 0%,#9df8f9 50%, #11FDFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.logo{
    max-width: 60px;
    margin: -25px 0;
}
.multiple-items{
    margin: 0 50px ;
}
.multiple-items img {
    text-align: center;
    margin: 0 auto;
}
.banner-bottom{
    background: linear-gradient( #0d0c1a 0%, #03080e    100%);
}
.info-text p{
    font-family: 'DINPro';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height:36px; 
    color: #FE6BFF;
}
.info-text h5{
    font-family: 'DINPro';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;  
    color: #FFFFFF; 
}
.suscribe{
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid #11FDFF;
    box-sizing: border-box;
    border-radius: 80px;
    margin-top: 10px;
}
.suscribe input[type=email]{
    background: rgba(0, 0, 0, 0.25);
    border-radius: 80px 0 0 80px;
    color: #11FDFF;
    border: none;
}
.suscribe input[type=email]:placehorder{
    color: #11FDFF;    
}
.suscribe input[type=submit]{
    background: #11FDFF;
    border: none;
    box-sizing: border-box;
    border-radius: 80px;
    font-family: 'DINPro';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px; 
    text-align: center; 
    color: #000000;
    padding: 10px 25px;
}
.services .inner-sec-layer{
    padding-top: 20px;
}
.rectangle-black{ 
    width: 599px;
    height: 568px; 
    background: rgba(0, 0, 0 , 0.65);  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 52px;
}
.rectangle-black p{
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px; 
    color: #FFFFFF;
    margin: 10px 20px 0;
}
.services {
    background: url(../images/abstract.jpg);
    height: 640px;
    background-position-y: bottom;
}
.features{
    margin: 15px 0;
}
.features li{
    margin: 15px 0;
}
.features img{
    width: 63px;
    height: auto;
}
.features p{
    font-family: 'DINPro';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height:26px;  
    color: #FFFFFF;

}
.btn-compra{
    max-width: 213px;
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid #11FDFF;
    box-sizing: border-box;
    border-radius: 80px;
    font-family: 'DINPro';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #11FDFF;
    padding: 10px 25px;
    width: 213px;
    display: block;
}
.btn-compara{
    max-width: 213px;
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid #FE6BFF;
    box-sizing: border-box;
    border-radius: 80px;
    font-family: 'DINPro';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FE6BFF;
    padding: 10px 25px;
    width: 213px;
    display: block;
}
.btn-pink-full{
    max-width: 100%;
    background: rgba(0, 0, 0, 0.25);
    border: 2px solid #FE6BFF;
    box-sizing: border-box;
    border-radius: 80px;
    font-family: 'DINPro';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #FE6BFF;
    padding: 10px 25px;
    width: 100%;
    display: block;
}
.copy-right{
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height:17px;  
    text-align: center; 
    color: #FFFFFF;
} 
.quare_buy{
    display: none;
    margin: 4em auto;

}
.quare_buy .btn-compra, .quare_buy .btn-pink-full{
    margin-top: 15px;
}
#small-dialog {
    padding: 40px 30px;
    text-align: left;
    max-width: 100%;
    margin: 40px auto;
    position: relative;
    width: 1220px;
    height: 700px;
    background: #000000; 
    opacity: 0.9;
    border: 3px solid #11FDFF;
    box-sizing: border-box;
    border-radius: 8px;
    color: white;

}
#right-button{
    cursor: pointer;
    background: url(../images/right_button.png) no-repeat center;
    border: none;
    width: 30px;
    height: 30px;
}
#left-button{
    cursor: pointer;
    background: url(../images/right_button.png) no-repeat center;
    transform: rotate(180deg);
    border: none;
    width: 30px;
    height: 30px;
}
table {
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height:18px; 
    color: #FFFFFF;
}
table .blue{
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 23px; 
    color: #11FDFF;
}
table .blue-normal{
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px; 
    color: #11FDFF;
}
.jbl-item{
    cursor: pointer;
    outline: none;
}
.compare{
    overflow: auto;
    width: 100%;
    height: 100%
}
.compare table td, .compare table th{
    border:none;
}
.navigator-buttons{
    position: absolute;
    top: 6px;
    left: 32px;
    display:none;
}
.data-sheet{
    display:none;
}
.data-sheet:first-child{
    display: block;
}

#modelos {
    margin-top: 4em;
}

.selector-table{
    width: 100%;
    /*   margin-left: -15px; 
     padding: 0 0 0 15px;*/
}

.selector-table .slick-slide{
    padding: 30px 10px;
    min-height: 300px; 
}

#selector select{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.25);
    border: 2px solid #11fdff;
    box-sizing: border-box;
    border-radius: 80px;
    color: #11fdff;
    width: 387px;
    max-width: 100%;
    height: 52px;
    padding: 0 30px;
    margin: 0 auto;
    display: block;
    background: url(../images/down_arrow.png) no-repeat right rgba(0, 0, 0, 0.25);
    background-position-x: 95%;  
    -webkit-box-sizing: border-box;  
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 100%;

}
#selector select:focus{
    outline: none;
}
#selector select::-ms-expand {
    display: none;
}
#selector select   option {  
    background-color: #0c0c1b;
} 
.compare-cell{ 
    min-height: 100px;
    font-family: 'DINPro';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px; 

    text-align: center;

    color: #FFFFFF;
    padding: 20px 0;
    border-right: 2px solid #11FDFF;
}
.selector-table .no-border{ 
    border-right: none;
}
.compare-cell span{
    max-width: 265px;
    margin: 0 auto;
    text-align: center;
}
.compare-cell span.legend { 
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;

    text-align: center;

    color: #11FDFF;
    text-transform: uppercase;

}
.selector-table .image{
    min-height: 300px;
    padding: 30px 0;
    text-align: center;
}
.selector-table .image img{
    display: block;
    margin: 0 auto;
}




@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .features > ul{
        max-width: 536px;
    }
    .quare_buy{
        width: 470px;
    }
}

@media(max-width: 1680px) {
    .services .inner-sec-layer {
        padding-top: 20px;
    }

    .banner {
        height: 703px;
    }

    .banner nav{  
        top: 100px;
        right: 200px;
    }


    .wired{
        position: absolute;
        right: 0px;
        bottom: 100px;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1680px) {
    .features > ul{
        max-width: 520px;
    }
    .quare_buy{
        width: 450px;
    }
}

@media(max-width: 1600px) {
    .quare_buy { 
        width: 98%;
    }
    .main_headset{ 
        top: 0px;
        left: 70px;
        height: 800px;
    }
    .container {
        max-width: 1500px;
    }
    .services { 
        height: 640px;
    }
    .services .inner-sec-layer {
        padding-top: 20px;
    }
    .rectangle-black { 
        max-width: 100%;
    }
    .btn-compra, .btn-compara , .btn-pink-ful { 
        max-width: 100%;
        font-size: 17px;
        line-height: 24px;
    }
    .wired{
        position: absolute;
        right: 0px;
        bottom: 95px;
    }
    .banner {
        height: 703px;
    }
    .banner nav{  
        top: 40px;
        right: 30px;
    }
    .banner-info {
        padding: 22em 6em;
    }
    .banner-info {
        padding: 16em 2em;
    }


}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1600px) {
    .features > ul{
        max-width: 505px;
    }
    .quare_buy{
        width: 400px;
    }
}

@media(max-width: 1440px) {
    .main_headset{ 
        top: 0px;
        left: 70px;
        height: 800px;
    }

    .container {
        max-width: 1400px;
    }
    .services { 
        height: 640px;
    }
    .services .inner-sec-layer {
        padding-top: 20px;
    }
    .wired{
        position: absolute;
        right: 0px;
        bottom: 220px;
    }
    .banner {
        height: 821px; 
    }
    .banner nav{  
        top: 40px;
        right: 30px;
    }

    .banner-info {
        padding: 13em 2em;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1440px) {
    .btn-compra, .btn-compara, .btn-pink-full{
        width: 182px;
    }
    .quare_buy .btn-pink-full {
        width: 100%;
    }
    .features > ul{
        max-width: 495px;
    }
}

@media(max-width: 1366px) {
    .main_headset{ 
        top: 0px;
        left: 30px;
        height: 770px;
    }
    .wired { 
        bottom: 160px;
    }
    .circle_asset { 
        left: 0px;
        bottom: -90px;
    }
    .banner {
        height: 685px;
    }
    .container {
        max-width: 1300px;
    }
    .services .inner-sec-layer {
        padding-top: 20px;
    }
    .banner nav {
        top: 40px;
        right: 30px;
    }
    h2.heading-banner {
        font-size: 33px;
    }
    .banner-info {
        padding: 13em 2em;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1366px) {

    .features > ul{
        max-width: 476px;
    }
}

@media(max-width: 1280px) {
    .main_headset{ 
        top: 0px;
        left: 30px;
        height: 770px;
    }
    .wired { 
        bottom: 160px;
    }
    .circle_asset { 
        left: 0px;
        bottom: -90px;
    }
    .banner {
        height: 685px;
    }
    .container {
        max-width: 1200px;
    }
    .services .inner-sec-layer {
        padding-top: 20px;
    } 
    .features p { 
        font-size: 18px;
        line-height: 22px; 
    }

    .rectangle-black {
        max-width: 100%;
        padding: 22px;
        height: auto;
    }
    .rectangle-black p { 
        font-size: 17px;
        line-height: 22px; 
    }


    .banner nav{  
        top: 42px;
        right: 30px;
    }
    h2.heading-banner {
        font-size: 25px;
    }
    .banner-info {
        padding: 11em 2em;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1280px) {

    .features > ul{
        max-width: 445px;
    }
}

@media(max-width: 1201px) {

    .main_headset{ 
        top: 0px;
        left: -25px;
        height: 770px;
    }
    .wired { 
        bottom: 160px;
    }
    .circle_asset { 
        left: 0px;
        bottom: -90px;
    }
    .banner {
        height: 685px;
    }

    .container {
        max-width: 1100px;
    }

    .services { 
        height: 640px;
    }
    .services .inner-sec-layer {
        padding-top: 20px;
    }
    .rectangle-black { 
        padding: 52px 25px;
        height: auto;
    }

    .wired img{
        width: 200px;
    }


    h2.heading-banner {
        font-size: 25px;
    }
    .banner-info {
        padding: 11em 3em;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (max-width: 1201px) {

    .features > ul{
        max-width: 380px;
    }
    /*.container{
        min-width: 1100px;
    }*/
}


@media(max-width: 1080px) {
    .quare_buy { 
        width: 95%;
    }
    .main_headset{ 
        top: 0px;
        left: -25px;
        height: 630px;
    }
    .wired { 
        bottom: 50px;
    }
    .circle_asset { 
        left: 0px;
        bottom: -205px;
    }
    .banner {
        height: 525px;
    }


    .number-w3three-info h5 {
        font-size: 35px;
    }
    .service-in .card {
        padding: 1em 0em;
    }
    h2.heading-banner {
        font-size: 25px;
    }
    .banner-info {
        padding: 11em 3em;
    }
}

@media(max-width: 1050px) {
    .main_headset{ 
        top: 0px;
        left: -25px;
        height: 535px;
    }
    .wired { 
        bottom: 50px;
    }
    .circle_asset { 
        left: 0px;
        bottom: -205px;
    }
    .banner {
        height: 525px;
    }

    h2.heading-banner {
        font-size: 25px;
    }
    .banner-info {
        padding: 11em 3em;
    }
}

@media(max-width: 1024px) {
    .main_headset{ 
        top: 0px;
        left: -25px;
        height: 548px;
    }
    .wired{
        position: absolute;
        right: 0px;
        bottom: 50px;
    }
    .banner {
        height: 480px; 
    }
    .circle_asset   img{
        width: 140px;
    }
    .logo h1 a {
        font-size: 36px;
    }
    h2.heading-banner {
        font-size: 31px;
    }

    .banner-info {
        padding: 8em 0 8em 10px;
    }
    p {
        font-size: 15px;
    }
}

@media(max-width: 991px) {
    .main_headset{ 
        top: 0px;
        left: -25px;
        height: 575px;
    }
    .wired { 
        bottom: 130px;
    }
    .circle_asset { 
        left: 0px;
        bottom: -90px;
    }
    .banner {
        height: 511px;
    }

    .info-text p { 
        text-align: center;
    }
    .info-text h5 {
        text-align: center;
    }
    .container {
        max-width: calc(100% - 20px);
    }
    .services .inner-sec-layer {
        padding: 10px;
    }
    .btn-compra, .btn-compara, .btn-pink-full  {
        max-width: 100%;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        padding: 10px 5px;
    }
    .rectangle-black { 
        height: auto;
    }

    .wired img{
        max-width: 175px;
    }
    .circle_asset{
        position: absolute;
        left: 0px;
        bottom: 0px;
    }
    .circle_asset img{
        max-width: 70px;
    }

    .inner-w3pvt-wrap h4 {
        font-size: 18px;
    }
    .service-in .card h5.card-title {
        font-size: 18px;
    }
    .service-in .card span.fa {
        font-size: 1.8em;
    }
    h2.heading-banner {
        font-size: 23px;
    }
}

@media(max-width: 900px) {
    .main_headset{ 
        top: 0px;
        left: -25px;
        height: 535px;
    }
    .wired { 
        bottom: 130px;
    }
    .circle_asset { 
        left: 0px;
        bottom: -40px;
    }
    .banner {
        height: 511px;
    }


    #selector select{
        font-size: 15px;
    }
    .selector-table .image {
        min-height: 210px; 
    }
    .compare-cell {
        min-height: 132px;
        padding: 0 10px;
    }
    .selector-table .slick-slide {
        padding: 30px 0; 
    }

    .selector-table .compare-cell{
        border-right: none;
    }
}

@media(max-width: 800px) {
    .main_headset{ 
        top: 0px;
        left: -25px;
        height: 500px;
    }
    .wired { 
        bottom: 100px;
    }
    .circle_asset { 
        left: 0px;
        bottom: -40px;
    }
    .banner {
        height: 430px;
    }
    h2.heading-banner {
        font-size: 22px;
    }
    .number-w3three-info.icon1 span.fa,.number-w3three-info.icon2 span.fa,.number-w3three-info.icon3 span.fa {
        font-size: 30px;
    }
}

@media(max-width: 767px) {
    .main_headset{display: none;}
    .banner-info {
        padding: 0em 0 1em 0px;
    }
    .banner-bottom{
        padding: 0em 5em;
    }
    .services { 
        height: auto;
    }
    .quare_features{
        margin: 0 auto;
    }
    .rectangle-black img{
        margin: 0 auto; 
        display: block;
    }
    .skills-left h5 { 
        font-size: 18px!important;
        line-height: 128.18%;
        text-align: center;
    }
    .info-text p { 
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
    .suscribe {
        background: none;
        border: none; 
        border-radius: 0; 
        display: block;
    }
    .suscribe input[type=email] {
        color: #11FDFF;
        background: rgba(0, 0, 0, 0.25);
        border: 2px solid #11FDFF;
        width: 100%;
        border-radius: 80px!important;
        text-align: center;
    }

    .suscribe input[type=submit] { 
        font-size: 18px;
        line-height: 23px;
        text-align: center; 
        padding: 10px 40px;
        margin: 20px auto 0;
        display: block;
    }
    .footer-emp-w3ls{
        padding-bottom: 30px;
    }
    .copy-right {
        font-size: 14px;
        max-width: 300px;
        margin: 0 auto; 
    }
    .multiple-items {
        margin: 0;
    }
    #modelos{
        padding-top: 3em;
    }
    .btn-compra , .btn-compara, .btn-pink-full{
        width: 100%;
        max-width: 200px;
        margin: 15px auto 0;
    }
    .services .inner-sec-layer {
        padding-top: 0em;
    }
    .rectangle-black{
        margin: 0 auto;
        max-width: 100%;
        padding: 30px 5px;
        height: auto;
    }
    .rectangle-black p { 
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;  
        text-align: center; 
        margin: 11px 20px 0;
    }
    .features {
        margin: 10px 0!important;
    }
    .features li { 
        display: block!important;
    }
    .features .image-parent{
        text-align: center;
    }
    .wired{
        position: absolute;
        right: 0px;
        bottom: 270px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 90px;
        bottom: 130px; 
    }
    .circle_asset img {
        max-width: 50px;
    }
    h2.heading-banner {
        font-size: 26px;
        margin: 0 auto;
        max-width: 350px;
    }
    .banner-info img {
        max-width: 350px;
        margin: 0 auto;
        display: block;
    }
    .banner {
        background: url(../images/slide.mobile.png) no-repeat center; 
        background-color: #0c0106;
        height: 398px; 
    }
    .contact-form .form-control, .contact-form textarea {
        padding: 1.3em 1.1em;
        font-size: 13px;
    }
    .contact-form button.btn {
        padding: 0.8em 2.5em;
    }
    .advantage_left h4 {
        font-size: 20px;
        letter-spacing: 0px;
    }
}

@media(max-width: 736px) {
    #modelos {
        padding-top: 1em;
    }
    .container { 
        padding-right: 0;
        padding-left: 0;
    }
    .row{
        margin-right: 0;
        margin-left: 0;
    }
    .banner-info h2{
        max-width: 340px;
        font-size: 25px;
        margin: 0 auto;
    }
    .banner-info img{
        max-width: 340px;
        margin: 0 auto;
        display: block;
    }
    .wired{
        position: absolute;
        right: 0px;
        bottom: 217px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 90px;
        bottom: 117px; 
    }
    .banner {
        height: 379px; 
    }
    .logo h1 a {
        font-size: 30px;
    }
    .banner-bottom,   .inner-sec-layer, .contact, .skills, .edu-exp, .projects {
        padding: 4em 3em;
    }
    p {
        font-size: 14px;
    }
    .inner-w3pvt-wrap p {
        font-size: 14px;
    }
    .banner-info {
        padding: 2em 0;
    }

    .skills-left h5 {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .number-w3three-info h5 {
        font-size: 30px;
    }
    h2.heading, h3.heading {
        font-size: 30px;
    }
    .tab-main label {
        font-size: 14px;
    }
    .inner-w3pvt-wrap h6 {
        font-size: 16px;
    }
}

@media(max-width: 667px) {

    .wired{
        position: absolute;
        right: 0px;
        bottom: 217px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 90px;
        bottom: 117px; 
    }
    .banner {
        height: 379px; 
    }
}

@media(max-width: 640px) {
    .wired{
        position: absolute;
        right: 0px;
        bottom: 190px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 70px;
        bottom: 60px; 
    }
    .banner {
        height: 379px; 
    }

}

@media(max-width: 600px) {
    .wired{
        position: absolute;
        right: 0px;
        bottom: 220px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 83px;
        bottom: 105px; 
    }
    .circle_asset_mobile img{
        max-width: 92%;
    }
    .banner {
        height: 357px; 
    }
}

@media(max-width: 568px) {
    .wired{
        position: absolute;
        right: 0px;
        bottom: 191px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 70px;
        bottom: 90px; 
    }
    .wired img {
        width: 160px; 
    }
    .banner {
        height: 322px; 
    }
    .banner-bottom p{
        font-size: 13px;
        font-weight: 500;
        max-width: 314px;
    }
    .banner-bottom p.gradient{
        font-size: 18px;
        max-width: 314px;
    }

    section.banner .col-md-12 {
        padding: 0;
    }
}

@media(max-width: 480px) {
    .wired{
        position: absolute;
        right: 0px;
        bottom: 180px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 70px;
        bottom: 100px;
    }

    .circle_asset_mobile img{
        max-width: 63px;
    }

    .wired img {
        width: 130px;
    }

    .banner {
        height: 322px; 

    }
    .black-mobile{
        background-color: #0c0916;        
    }
    .banner-bottom{
        background: linear-gradient(0deg, rgba(12,12,27,1) 0%, rgba(12,1,6,1) 46%, rgba(12,1,6,1) 100%);
    }
    .logo h1 a {
        font-size: 27px;
    }
    .toggle {
        padding: 2px 15px;
    }
    .menu .toggle {
        width: 35%;
    }
    a.banner-button2,a.banner-button1,a.banner-button {
        font-size: 14px;
        padding: 10px 20px;
    }

}

@media(max-width: 415px) {
    .wired{
        position: absolute;
        right: 0px;
        bottom: 156px;
    }
    .wired img{
        max-width: 140px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 70px;
        bottom: 71px; 
    }
    .banner {
        height: 320px; 
    }
    .banner-bottom,  .inner-sec-layer, .contact, .skills, .edu-exp, .projects {
        padding: 3em 1.5em;
    }
    header {
        padding: 1rem 0 0rem;
    }
    h2.heading-banner {
        font-size: 25px;
    }
    .copy-right {
        font-size: 14px;
    }
    .contact-form button.btn {
        font-size: 14px;
    }
    form.contact-form {
        margin-top: 1em;
    }
    .inner-w3pvt-wrap h4 {
        font-size: 17px;
        letter-spacing: 0.5px;
    }
    .gal-img {
        padding: 0 10px;
    }
    .advantage_left h4 {
        font-size: 18px;
    }
}

@media(max-width: 384px) {
    .wired{
        position: absolute;
        right: 0px;
        bottom: 156px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 70px;
        bottom: 71px; 
    }
    .banner {
        height: 246px; 
    }
    .logo h1 a {
        font-size: 24px;
    }
    nav a {
        font-size: 15px;
    }
    nav ul li {
        padding: 3px 0;
    }
    .number-w3three-info h5 {
        font-size: 25px;
    }
}

@media(max-width: 384px) {
    .wired{
        position: absolute;
        right: 0px;
        bottom: 156px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 70px;
        bottom: 71px; 
    }
    .banner {
        height: 321px; 
    }
}

@media(max-width: 375px) {
    .banner-info {
        padding: 3em 0;
    }
    h2.heading-banner {
        font-size: 20px;
        margin: 0 auto;
        max-width: 280px;
    }
    .banner-info img {
        max-width: 280px;
        margin: 0 auto;
        display: block;
    }
    .wired{
        position: absolute;
        right: 0px;
        bottom: 200px;
    }

    .circle_asset_mobile{ 
        right: 67px;
        bottom: 95px;
    }
    .banner {
        height: 339px; 
    }

}

@media(max-width: 320px) {
    .wired{
        position: absolute;
        right: 0px;
        bottom: 150px;
    }
    .circle_asset_mobile{
        position: absolute;
        right: 64px;
        bottom: 74px;
    }
    .banner {
        height: 339px; 
    }
}

/* //responsive */

/* policy styles  */
.policy-content{
    float: right;
    font-family: 'Open Sans';
    font-size: 16px;
    color: #FFF;
}
.policy-details-lnk{
    color: #11FDFF;
    text-decoration: underline;
}
.policy-details-lnk:hover{
    color: #11FDFF;
    text-decoration: none;
}

.agree-policy{
    display: flex;
    position: relative;
    padding-left: 35px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.agree-policy-text{
    font-family: 'Open Sans';
    font-size: 16px;
    color: #FFF;
    margin-top: 0px;
}
  
/* Hide the browser's default checkbox */
.agree-policy input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
  /* Create a custom checkbox */
.agree-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 2px solid #11FDFF;
    border-radius: 5px;
}
.agree-policy input:checked ~ .agree-checkmark {
    background-color: #11FDFF;
}
.agree-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.agree-policy input:checked ~ .agree-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.agree-policy .agree-checkmark:after {
    left: 7px;
    top: 1px;
    width: 8px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.banner-policy{
    height: 380px;
}

.btn-jbl-primary{
    background: #11FDFF;
    border: none;
    box-sizing: border-box;
    border-radius: 80px;
    font-family: 'DINPro';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    padding: 10px 25px;
}
.gradient-policy{
    max-width: 680px;
    color: white;
    margin: -65px  auto 0 auto;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 128.18%;
    text-align: center;
    background: -webkit-linear-gradient(#fff 0%,#9df8f9 50%, #11FDFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content-policy{
    color: white;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
}
.content-policy p,
.content-policy h5{
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
}
.content-policy ul{
    list-style: none;
}
@media(max-width: 640px) {
    .gradient-policy{
        margin: 30px  auto 0 auto;
    }
}
/* END policy styles  */